---
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import ProjectGrid from "../components/ProjectGrid.astro";

const careerEvents = [
  {
    date: "2022",
    title: "Diplôme de Licence",
    description: "Obtention avec succès de ma licence en Technologie de l'Information.",
    iconType: "academic",
  },
  {
    date: "2024",
    title: "Certification Développeur",
    description: "Obtention d'une certification professionnelle en développement logiciel.",
    iconType: "document",
  },
  {
    date: "2025 - Présent",
    title: "Ingénieur IT chez Centric Market",
    description: "Travaille comme Ingénieur IT développant des solutions innovantes.",
    iconType: "computer",
  },
];

const projects = [
  {
    title: "Portfolio Personnel",
    description: "Mon portfolio personnel pour présenter mes projets et compétences.",
    image: "/portfolio.webp",
    url: "https://reda-ezziani.fr",
  },
  {
    title: "Application de Gestion de Tâches",
    description: "Une application web pour gérer les tâches quotidiennes.",
    image: "/task-manager.webp",
    url: "https://task-manager.example.com",
  },
  {
    title: "Site E-commerce",
    description: "Un site e-commerce développé avec React et Node.js.",
    image: "/ecommerce.webp",
    url: "https://ecommerce.example.com",
  },

];
---

<Layout>
  <section class="w-full max-w-4xl py-10">
    <header class="flex justify-start gap-2 items-center">
      <span class="size-16 rounded-full border flex justify-center items-center border-neutral-400/45 p-1">
        <img src="/pr.webp" alt="Reda Ezziani" class="rounded-full  w-full  aspect-square object-cover" />
      </span>
      <div class="flex flex-col gap-1 justify-start items-start">
        <h1>Reda Ezziani</h1>
        <p class="text-sm  text-neutral-600 dark:text-neutral-300 flex items-center gap-1">
          <span itemprop="jobTitle">Ingénieur IT</span>
          <span aria-hidden="true" class="inline-block w-1.5 h-1.5 bg-neutral-400 rounded-full"></span>
          Basé au <span class="text-primary" itemprop="addressLocality">Maroc</span> 
        </p>
      </div>
    </header>
    
    <div class="mt-10">
      <h2 class="text-xl font-bold mb-1">Mon Parcours Professionnel</h2>
      <p class="text-neutral-600 dark:text-neutral-400 text-sm mb-4">Développement professionnel et réalisations</p>
      
      <Timeline events={careerEvents} />
    </div>
    <div class="mt-10">
      <h2 class="text-xl font-bold mb-1">Pourquoi Me Choisir ?</h2>
      <p class="text-neutral-600 dark:text-neutral-400 text-sm mb-4">
        Je suis un Ingénieur IT dévoué avec une passion pour la technologie et un engagement envers l'excellence. Mon ensemble diversifié de compétences, combiné à mon expérience en développement logiciel et en résolution de problèmes, fait de moi un atout précieux pour toute équipe. Je suis toujours désireux d'apprendre et de m'adapter à de nouveaux défis, m'assurant ainsi de rester à la pointe de l'industrie.
      </p>
      <p class="text-neutral-600 dark:text-neutral-400 text-sm mb-4">
        Je crois en l'amélioration continue et je m'efforce de fournir un travail de haute qualité qui dépasse les attentes. Mes solides compétences en communication et mon approche collaborative me permettent de travailler efficacement avec les collègues et les clients.
        Je ne cherche pas simplement un emploi ; je recherche une opportunité de grandir et de contribuer à une organisation dynamique. <span class="underline decoration-primary  decoration-1 underline-offset-2"> Si vous recherchez un Ingénieur IT motivé et qualifié</span>, je serais ravi de discuter de comment je peux apporter de la valeur à votre équipe.
      </p>
      <p class="text-neutral-600 dark:text-neutral-400 text-sm mb-4">
        Connectons-nous et explorons comment nous pouvons travailler ensemble pour réaliser de grandes choses !
      </p>
    </div>
    <div class="mt-10">
      <h2 class="text-xl font-bold mb-1">Mes Projets</h2>
      <p class="text-neutral-600 dark:text-neutral-400 text-sm ">Voici quelques-uns de mes projets récents</p>
      
      <ProjectGrid projects={projects} />
    </div>
  </section>

</Layout>
