---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>
			Reda Ezziani | Développeur Front-End | Portfolio
		</title>
		<meta name="description" content="Portfolio de Reda Ezziani, Développeur Front-End" />
		<meta name="keywords" content="Portfolio, Développeur Front-End, Reda Ezziani" />
		<meta name="author" content="Reda Ezziani" />
		<meta name="theme-color" content="#000000" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="google" content="notranslate" />
		<meta name="revisit-after" content="1 days" />
		<meta name="language" content="fr" />
		<meta name="copyright" content="Reda Ezziani" />
		<meta name="rating" content="general" />
		<meta name="distribution" content="global" />
		<meta name="url" content="https://reda-ezziani.fr" />
		<meta name="identifier-URL" content="https://reda-ezziani.fr" />
		<meta name="DC.title" content="Reda Ezziani | Développeur Front-End | Portfolio" />
		<meta name="DC.creator" content="Reda Ezziani" />
		<meta name="DC.description" content="Portfolio de Reda Ezziani, Développeur Front-End" />
		<meta name="DC.keywords" content="Portfolio, Développeur Front-End, Reda Ezziani" />

	</head>
	<body
	class=" bg-neutral-50 w-full px-6 relative min-h-screen flex flex-col items-center  text-neutral-800 dark:bg-neutral-900 dark:text-neutral-200"
	>
		<slot />
		<Footer />
	</body>
</html>

